.chat {
  &_message_box {
    width: 100%;
    min-height: 340px;
    margin-bottom: 20px;
    overflow-y: auto;
  }

  &_message {
    max-width: 75%;
    width: fit-content;
    padding: 6px 8px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background-color: var(--color-primary);
    border-radius: 15px;
  }
}

input {
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-weight: 500;
}