@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');


#root {
  --color-primary: #2C67F6;
  --color-secondary: #F1F3F6;
  --color-card: #F9FAFE;

  --color-text-1: #ffffff;
  --color-text-2: #505B79;
}
